.logo {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
  color: #FFF;
}

.logo_thyme_black {
  color: #000;
}

@media screen and (max-width: 640px) {
  .logo {
    font-size: 22px;
  }
}
